[Unit]
Description=Schedule at half of hour

[Timer]
Persistent=true
Unit=inventory.service
OnCalendar=11:00
OnUnitActiveSec=0.5h

[Install]
WantedBy=timers.target
