[Unit]
Description=A lightweight Wayland statusbar
Documentation=man:waybar(1)
PartOf=sway-session.target

[Service]
Type=simple
Environment="XDG_CURRENT_DESKTOP=sway"
ExecStart=/usr/bin/waybar
ExecStop=/bin/kill -2 $MAINPID
Restart=always
RestartSec=3
TimeoutStopSec=8

[Install]
WantedBy=sway-session.target
